body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
}
h1{
    font-size: 3em;
    text-transform: uppercase;

}
.poster{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}

.motivation-img{
    border: 5px solid white;
    width: 100%;
}